* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Times New Roman', Times, serif; 
    background-color:rgb(251, 191, 227);
    color: #000000;
}

header {
    text-align:center;
}

.navbar {
    background-color:rgb(215, 90, 240);
    padding: 15px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li{
    display: inline-block;
    position: relative;
}
/*Color of links on Navbar*/
.nav-links li a{
    color:white;
    text-decoration: none;
    padding: 10px 15px;
}
/*Underline Effect*/
.nav-links li a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0; height: 2px;
    background: whitesmoke;
    transition: width 0.4s ease, left 0.4s ease;
}
/*Hover Effect*/
.nav-links li a:hover::after{
    width: 100%;
    left: 0;
}